.container {
  font-size: 14px;
  color: #808080;
  font-family: Gilory;
}
.progress {
  // background-color: rgb(228, 201, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;

  .playIcon {
    font-size: 30px;
    color: rgb(106, 165, 244);

    &:hover {
      color: rgb(86, 145, 224);
      cursor: pointer;
    }
  }

  .slider {
    width: calc(100% - 150px);
    position: relative;

    .timeDetail {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 100%;
      margin-top: -8px;
    }
  }

  .item {
    display: flex;
    justify-content: center;
    width: 40px;
  }

  .circleIcon {
    font-size: 25px;
  }

  :global {
    .ant-slider {
      //这是没走的路
      .ant-slider-rail {
        height: 8px;
        border-radius: 4px;
        // background-color: rgb(240, 240, 240);
        // background: url(${require('@/assets/img/progress_bar.png')}) right 0;
      }

      //这是走过的路
      .ant-slider-track {
        height: 8px;
        border-radius: 4px;
        background: linear-gradient(to right, rgb(162, 211, 255), rgb(106, 165, 244));
        // background-color: rgb(150, 150, 150);
        // background: url(${require('@/assets/img/progress_bar.png')}) left -66px;
      }

      .ant-slider-handle {
        // width: 22px;
        // height: 24px;
        // border: none;
        margin-top: 2px;
        background-color: red;
        box-shadow: 0px 0px 15px 1px rgba(116, 175, 254, 1);
        color: rgb(49, 49, 49);
        padding: 1px 1px;
        // background: url(${require('@/assets/img/sprite_icon.png')}) 0 -250px;
      }
    }
  }
}

.radioGroup {
  padding: 0 30px;
}

.textContainer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #21242c;
  //70是蓝色topbar，65是slider加上padding-top
  height: calc(100vh - 70px - 65px - 100px);
  overflow-y: scroll;
  padding: 0px 30px 30px 30px;

  .textEngAndCh {
    margin-bottom: 20px;
    cursor: pointer;

    // font-size: 25px !important; //仅哔哩哔哩演示用
    // line-height: 35px; //仅哔哩哔哩演示用
  }

  .activeSentence {
    color: #2e6cc6;
    // font-size: 45px !important; //仅哔哩哔哩演示用
    // line-height: 60px; //仅哔哩哔哩演示用
  }

  u {
    color: red;
  }

  .textEngAndCh {
    margin-bottom: 20px;
  }

  //以下设置滚动条
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: white;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #333;
  }
  &::-webkit-scrollbar-corner {
    background: #179a16;
  }

  &:hover::-webkit-scrollbar-track {
    //track是轨道，且不包含滚动条
    background-color: rgb(237, 238, 242);
  }
  &:hover::-webkit-scrollbar-thumb {
    //thumb是滚动条
    background-color: rgb(202, 202, 202);
  }
}
